 <h1>Data Science Tools and Ecosystem</h1>

<b>intro:</b>
In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the commonly used libraries used by Data Scientists include:
    <ol><li>python</li>
    <li>R</li>
    <li>SQL</li>
    </ol>

data science libraries:
    <ol><li>Pandas</li>
    <li>SciPy </li>
    <li>NumPy</li>
    </ol>

<table>
<th>Data Science tools<th>
<tr>
<td>RapidMiner</td>
</tr>
<tr>
<td>Apache Hadoop</td>
</tr>
<tr>
<td>Apache Spark</td>
</tr>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [34]:
25+63

88

In [35]:
(3*4)+5

17

<h3>cell to multiply and add numbers</h3>

In [36]:
(3*4)+5

17

<h3>cell to convert minutes to hours<h3>

In [ ]:
min=int(input('enter the minuites'))
hours=min/60
print(hours,'hrs')

<b>Objectives</b>
    <ul><li>data is first</li>
    <li>need good story telling skills </li>
    <li>be enthusiasts</li>
    </ul>

<h2>Author</h2> Syed Muzzamil Ali